.btn-primary {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;/*
	background-color: black;
	color: white;
	font-size: 10px;
	background: url('/img/background.jpg');
	background-size: 25vmax;*/
}

.site-container {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
    font-size: 16px;	
}

.font {
	font-family: 'Share Tech Mono', monospace;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.avatar {
	width:50px;
	height:50px;
	margin: auto;
	overflow: hidden;
	border-radius:50%;
	position: relative;
}

.avatar img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.avatar-2 {
	width:150px;
	height:150px;
	margin: auto;
	overflow: hidden;
	border-radius:50%;
	position: relative;
}

.avatar-2 img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.nav-link {
    padding: 1.5rem 1rem;
}    

.nav-item{
	display: flex;
}

/* Laravel Styles */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* ./ Laravel Styles */


/* NATU ECOREGIONES*/
#mapa{
    width: 33vw;
    margin: auto;
}

/* FAMILIAS*/
.container-circles{
display: flex;
    padding: 15px;
    flex-wrap: wrap;


}
.circle{
    background-size: 56%;
    background-color: aquamarine;
    background-position: 18px 19px;
    background-repeat: no-repeat;
    background-image: url(../img/familias/picaflor.png);
    background-color: aquamarine;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    color: black;
    font-weight: 700;
    justify-content: center;
    align-content: center;
    margin: auto;
        margin: 10px;

    box-shadow: 0 4px 22px 0 rgba(0,0,0,0.2),0 6px 41px 0 rgba(0,0,0,0.19) !important;
}

.circle p{
	    justify-content: center;
    align-self: center;
    margin-top: 65px;
}